# 1. Ignora tutto
*

# 2. Escludi specificamente la cartella .vs (e altre simili se vuoi)
# Metterlo qui assicura che Git non ci entri nemmeno
.vs/
.vscode/
node_modules/

# 3. Permetti di esplorare le altre cartelle
!**/

# 4. Eccezioni per i tuoi file
!**/*.yml
!**/*.json
!**/*.js
!.gitignore
!**/*.png
!**/*.webP
/.vs/VSWorkspaceState.json
/.vs/la-voce-del-delfino/v17
/.vs/slnx.sqlite
